@media only screen and (max-width:1750px){
    .banner { min-height: 100vh; }
    .banner .banner_image{height: 100vh;}
    .banner .banner_image img { width: 100%;}
    .banner .tab_contants li .col { top: 180px;}
    .the_numbers { padding: 40px 80px; }
    .recent_news .owl-nav button.owl-next { margin-right: -4vw; }
    .recent_news .owl-nav button.owl-prev { margin-left: -4vw; }

    /* about page */
    .legacy_popup .inner { height: 90vh; }
    .leadership_about.leadership .inner { padding: 0px 80px; }
    .leadership_about.leadership .col { height: 600px; }
  
    /* blog */
    .blog-details-top .blog-top-part .text{left: 150px;}


}
@media only screen and (max-width:1599px){
    h3, .h3 { font-size: 22px; line-height: 30px; }
    .wrapper { padding: 0px 80px; }
    .banner .tab_contants li .col { top: 180px; left: 80px; }
    .we_are_elco .left_col { width: 49%; }
    .we_are_elco .right_col { width: 47%; }
    .fields_of_invesment h2 { margin-bottom: 210px; }
    .partnership_blobal_brand { padding: 50px 0; }    
    .elco_blogs .text_col { width: 50%; }
    .elco_blogs .col .text_col { padding-right: 50px; }
    .elco_blogs .img { width: 50%; }
    .elco_blogs .col { margin-bottom: 100px; }
    .recent_news { padding: 70px 0px; }
    .recent_news h2 { margin-bottom: 30px; }
    .recent_news .col .img { width: 300px; }
    .recent_news .col .text { width: calc(100% - 300px); padding-left: 15px; }
    footer { padding-top: 100px; }
    footer .address { margin: 55px 0 0; }
    /* portfolio  details */
    .details_banner .col { left: 80px; }
    .performance_metrics .wrapper { padding: 70px 80px 30px; }
    .performance_metrics .inner { max-width: 910px; }
    .performance_metrics .col { margin-bottom: 20px; }
    .performance_metrics h2 { margin-bottom: 35px; }
    .core_benefits .col h3 { font-size: 20px; line-height: 22px; margin-bottom: 10px; }
    .core_benefits .col p { font-size: 16px; line-height: 28px; }
    .key_activities .text { padding: 20px 20px 48px; }
    .key_activities { padding: 150px 0px; }
    .leadership .col { width: 32%; margin-right: 24px; margin-bottom: 60px; }
    .leadership .col:nth-child(3n){margin-right: 0;}

    .popup .inner { width: 1200px; height: 550px; }
    .popup .inner>div { height: 550px; }
    .activities_popup .left_col { padding: 70px 50px 80px 60px; }
    .activities_popup .owl-stage-outer,
    .activities_popup .owl-stage,
    .activities_popup .owl-item{height: 100%;}
    .leadership_popup .left_col { padding: 70px 70px 60px 80px; }

    .notable_projects .wrapper { max-width: calc(100% - 80px); margin-left: 80px; padding: 0; }
    .notable_projects .owl-nav .owl-prev { margin-left: -80px; }
    .notable_projects .colin { width: 1200px; height: 570px; }
    .key_activities_four.key_activities { padding-bottom: 150px; }

    /* about page */
    .inner_banner.about_banner .col { left: 80px; }
    .legacy_leadership .inner { padding: 50px 40px; }
    .legacy_leadership .right_col { width: 54%; height: 395px; }
    .legacy_leadership .left_col { width: 46%; padding-right: 40px; }
    .legacy_man { padding: 32px 0 100px; }
    .legacy_man .right_col img+p { font-size: 20px; line-height: 30px; margin-bottom: 20px; }
    .legacy_man .right_col { padding: 45px 80px 40px 50px; }
    .worldwide { padding: 70px 0 100px; }
    .worldwide h2 { line-height: 50px; margin-bottom: 90px; font-size: 40px; }
    .brand_text_slider { padding: 120px 80px 100px; }
    .brand_text_slider .wrapper{padding: 0;}
    .brand_text_slider .owl-nav button.owl-prev{ margin-left: -80px;}
    .brand_text_slider .owl-nav button.owl-next{ margin-right: -80px; }
    #our_approach_slider .owl-nav button.owl-prev { margin-left: -80px; }
    #our_approach_slider .owl-nav button.owl-next { margin-right: -80px; }
    .our_approach { padding: 24px 0 100px; }
    .leadership_about.leadership .col:nth-child(3n) {margin-right: 24px; }

    /* investors */
    .inner_banner.investors_banner .col { left:80px; }
    .letter_shareholders .inner { padding: 100px; }
    .letter_shareholders .inner>div { width: 45%; }
    .elco_graph_sec .wrapper{max-width: calc(100% - 160px);}

    /* blog */
    .blog-top-part .text{padding: 30px 30px 30px 30px;} 
    .blog-top-part .text h2{font-size: 34px; line-height: 40px; padding: 0 0 15px 0; }
    .blog-top-part .text p{line-height: 26px; }

}
@media only screen and (max-width:1499px){
    .blog-top-section h1{padding: 0 0 40px 0;}
    .terms-section h1{padding: 0 0 21px 0;}
}

@media only screen and (max-width:1399px){
    p{font-size: 16px;line-height: 1.5;}
    h2, .h2 { font-size: 40px; }
    h3, .h3 { font-size: 20px; line-height: 30px; }
    .banner .tab_link ul li { padding: 8px 12px; }
    .banner .tab_contants li h2 { margin-bottom: 15px; }
    .banner .tab_contants li p { margin-bottom: 30px; }
    .banner .tab_contants li .col { top: 140px; left: 80px; }
    .we_are_elco { padding: 100px 0; }
    .the_numbers .left_col h4 { line-height: 1.5; font-size: 16px; }
    .the_numbers .wrapper { padding: 50px; }
    .elco_blogs { padding: 50px 0 1px; }
    .excellence p { font-size: 20px; line-height: 1.6; margin: 25px 0; }
    .excellence .btn { margin-bottom: 50px; }
    .excellence img{max-width: 200px;}
    .excellence { padding: 60px 0; }
    .recent_news .col { padding: 10px; }
    .recent_news .col .img,.recent_news .col .text { width: 50%; }
    .recent_news h3 { font-size: 18px; line-height: 1.3; }
    .recent_news h4 { font-size: 14px; line-height: 1.4; font-weight: 500; padding: 8px 0 0; }
    .recent_news .inner { margin-bottom: 25px; }
    footer { padding-top: 80px; }

      /* portfolio page */
    .foundation_futures .inner .col { height: 240px; }
    .foundation_futures .inner .col5 { height: 488px; }
    .foundation_futures { padding: 100px 0px 120px; }
    .foundation_futures .bg { background-position: bottom 35px center; }
    .portfolio_sec { padding: 50px 0px 100px; }
    .portfolio_sec .col img { margin-bottom: 20px; }
    .portfolio_sec .col p { margin-bottom: 30px; }
    .portfolio_sec .text { right: 70px; width: 140px; padding: 48px 8px 8px; }
    .portfolio_sec .text .traded span { font-size: 36px; line-height: 42px; }
    .portfolio_sec .text .traded h6 { font-size: 14px; }
    .portfolio_sec .text .public { font-size: 16px; line-height: 22px; }
    .portfolio_sec .col img { max-height: 50px; }


    /* portfolio details page  */
    .details_banner .col { top: 170px; }
    .details_banner .col>img { margin-bottom: 20px; }
    .details_banner .col h1 { font-size: 32px; line-height: 42px; margin-bottom: 30px; }
    .details_banner .col p { font-size: 16px; line-height: 28px; }
    .performance_metrics .inner { max-width: 800px; }
    .performance_metrics p { line-height: 22px; font-size: 16px; }
    .performance_metrics h3 { line-height: 46px; font-size: 46px; }
    .core_benefits { padding: 80px 0 80px; }
    .key_activities { padding: 80px 0px; }
    .key_activities .col { height: 470px; }
    .key_activities .text p { font-size: 16px; line-height: 28px; }
    .leadership .col { width: 31.9%; height: 450px; margin-bottom: 40px; }
    .leadership .text p { font-size: 14px; line-height: 24px; min-height: 48px; }
    .notable_projects .colin { width: 1100px; height: 500px; }

     /* about page */   
    .inner_banner.about_banner .col h1 { margin-bottom: 20px; }
    .inner_banner.about_banner .col p { font-size: 16px; line-height: 30px; }
    .legacy_leadership .right_col { height: 355px; }
    .worldwide h2 { line-height: 50px; margin-bottom: 90px; font-size: 38px; }
    .worldwide .col { width: 25%; }
    .leadership_about.leadership .inner { padding: 0px 40px; }
    .leadership_about.leadership .col { height: 530px; }
    #our_approach_slider .colin { height: 500px; }
    .popup .inner { width: 1000px; height: 550px; }

     /* investors */
     .letter_shareholders .inner { padding: 100px 60px; }
     .holding_overview .inner { padding: 0px 40px; }
     .financial_reports .wrapper { padding: 0 80px; }
     .core_benefits_investors.core_benefits { padding: 100px 0 150px; }
     .core_benefits_investors.core_benefits h2 { margin-bottom: 60px; }

    /* blog */
    .blog-top-part .text h2{font-size: 30px; line-height: 36px; padding: 0 0 10px 0;}
    .blog-top-part .image{height: 510px;}
    .blog-details-section figure{margin: 0 0 48px 0px;}
    .blog-details-section img{max-width: 100%;}
    .blog-details-top .blog-top-part .text{left: 50px;}
    .blog-details-section video{height: 480px;}
    .terms-part{padding: 60px 100px 80px 100px; }



}
@media only screen and (max-width:1279px){
    .wrapper { padding: 0px 20px; }
    header { padding: 20px 20px 0px; }
    header.fixed { padding: 4px 20px; }
    header .inner>ul>li>a { line-height: 48px; min-width: 115px; }
    header .brand { top: 27px; }
    .dropmenu_image_link { width: 960px; }
    .dropmenu_gallery_link{width: 960px;}
    .dropmenu_gallery_link li a span { font-size: 12px; }
    .dropmenu_gallery_link li { height: auto;}
    .dropmenu_gallery_link li a { height: 222px; }

    .banner { min-height: 700px; }
    .banner .banner_image{height: 700px;}
    .banner .tab_link ul li { font-size: 16px; }
    .we_are_elco { padding: 50px 0; }
    .banner .tab_contants li .col { top: 140px; left: 20px; }
    .banner .tab_contants li img{height: 100%;}
    .invesment_slider .col { padding: 30px 35px; width: 330px; height: 224px; }
    .partnership_blobal_brand { padding: 30px 0; }
    .partnership_blobal_brand .inner { margin-top: 30px; }
    .the_numbers { padding: 40px 20px; }
    .elco_blogs .col:nth-child(2n) .text_col { padding: 0 0px 0 40px; }
    .recent_news .inner { margin-bottom: 32px; }
    .recent_news .btn_blue { margin: 0 auto; width: fit-content; display: block; }
    .recent_news .owl-nav { top: calc(100% + 32px); }
    .recent_news .owl-nav button.owl-next { margin-right: 0; }
    .recent_news .owl-nav button.owl-prev { margin-left: 0; }
    .the_numbers .wrapper { padding: 50px 30px; }
    footer { padding-top: 50px; }
    footer .logo img{max-width: 80px;}
    footer ul.link { margin-top: 40px; }
    footer ul.link li:not(:last-child) { margin-right: 0px; }
    footer ul.link li a { font-size: 14px; }

    /* portfolio page */
    .inner_banner { height: 80vh; }
    .inner_banner .col { width: 659px; }
    .inner_banner .col p { font-size: 16px; line-height: 26px; }
     /* portfolio details page  */
     .details_banner { height: 85vh; }
    .details_banner .col { top: 170px; left: 20px; }
    .performance_metrics .wrapper { padding: 60px 20px 30px; }
    .performance_metrics .col { margin-bottom: 10px; }
    .performance_metrics::after { background-size: cover; }
    .elco_blogs_inner .col { margin-bottom: 50px; }
    .leadership .col { width: 31.7%; height: 390px; margin-bottom: 40px; }
    .leadership { padding: 80px 0px 60px; }
    .leadership h2 { margin-bottom: 30px; }
    .popup .inner { width: 900px; height: 420px; }
    .popup .inner>div { height: 420px; }
    .activities_popup h2 { font-size: 28px; line-height: 30px; margin-bottom: 30px; }
    .activities_popup h2::after { bottom: -10px; width: 48px; }
    .activities_popup p,.leadership_popup p{ font-size: 14px; line-height: 24px; }
    .activities_popup p:not(:last-child),
    .leadership_popup p:not(:last-child) { margin-bottom: 20px; }
    .leadership_popup .left_col { padding: 70px 50px 60px 70px; }
    .key_activities_four.key_activities { padding-bottom: 80px; }
    .notable_projects { padding: 80px 0; }
    .notable_projects .wrapper { max-width: calc(100% - 20px); margin-left:20px; padding: 0; }
    .notable_projects .owl-nav .owl-prev { margin-left: -20px; }
    .notable_projects .colin { width: 900px; height: 450px; }
    /* about page */
    .legacy_leadership { padding: 70px 0 32px; }
    .legacy_man .right_col img+p { font-size: 16px; line-height: 24px; margin-bottom: 20px; }
    .legacy_man .right_col { padding: 35px 40px 30px 30px; }
    .worldwide h2 { line-height: 40px; margin-bottom: 70px; font-size: 32px; }
    .worldwide .col h3 { font-size: 22px; line-height: 28px; margin-bottom: 22px; }
    .worldwide .col ul li { font-size: 14px; line-height: 26px; }
    .worldwide { padding: 60px 0; }
    .brand_text_slider .col h3 { font-size: 24px; line-height: 32px; margin-bottom: 15px; }
    #our_dots li { font-size: 16px; line-height: 22px; padding: 8px 16px 8px 16px; }
    #our_approach_slider .owl-nav button.owl-prev { margin-left: -20px; }
    #our_approach_slider .owl-nav button.owl-next { margin-right: -20px; }
    #our_approach_slider .col { padding: 40px; width: 480px; }
    .our_approach { padding: 24px 0 40px; }
    .leadership_about.leadership { padding: 60px 0 40px; }
    .leadership_about.leadership .inner { padding: 0px 20px; }
    .leadership_about.leadership .col { height: 400px; }
    .inner_banner.about_banner .col { left: 20px; }

    /* investors */
    .inner_banner.investors_banner .col h1 { font-size: 32px; line-height: 42px; margin-bottom: 16px; }
    .inner_banner.investors_banner .col h4 { font-size: 14px; line-height: 22px; margin-bottom: 12px; }
    .inner_banner.investors_banner .col p { font-size: 16px; line-height: 28px; }
    .letter_shareholders { padding: 80px 0; }
    .elco_graph_sec .wrapper { max-width: calc(100% - 40px); }
    .graph_blog h3 { font-size: 18px; line-height: 24px; line-height: 24px; margin-bottom: 50px}
    .holding_overview .inner { padding:0; }
    .holding_overview { padding: 32px 0 50px; }
    .financial_reports { padding: 80px 0; }
    .financial_reports .wrapper { padding: 0 20px; }
    .elco_graph_sec .wrapper { margin-top: -326px; }
    .the_numbers_investors { padding: 80px 0 360px; }
    .core_benefits .col h3 { font-size: 16px; line-height: 22px; margin-bottom: 10px; }
    .inner_banner.investors_banner .col { left: 20px; }
    .elco_blogs_investors>h4 { margin-bottom:60px; }

    /* blog */
    .blog-top-section{padding: 110px 0 0 0;}
    .blog-top-section h1{padding: 0 0 30px 0; font-size: 36px; line-height: 44px; }
    .blog-top-part .text{padding: 20px;}
    .blog-list ul li .box .text h2{padding: 0 0 40px 0;}
    .blog-list{padding: 33px 0 70px 0; }
    .blog-details-top{padding: 56px 0 0 0;}
    .terms-section{padding: 110px 0 110px 0;}
    .terms-section h1{padding: 0 0 20px 0;}
    .terms-part{padding: 60px 50px 60px 50px; }

    /* contact page  */
    .contact_page { min-height: auto; }
    .contact_page .wrapper { max-width: 1232px; padding: 180px 20px 150px; }



}
.banner .tab_contants li:first-child,
.banner .tab_link ul li:first-child{display: none;}
.hambarger{display: none;}
.mobile_logo{display: none;}
@media only screen and (max-width:1023px){
    .hambarger{display:flex;width: 40px;top: 8px;right: 8px;height: 40px;border: 1.5px solid #F4F4F4;justify-content: center;align-items: center;border-radius: 50px;position: absolute;        z-index: 99;}
    .hambarger span{width: 12.5px;height: 1.5px;background-color: #fff;position: relative;transition: 0.5s ease all;}
    .hambarger span::after,
    .hambarger span::before{content: '';position: absolute;left: 0;top:5px;width: 100%;height: 100%;background-color: #fff;transition: 0.5s ease all;}
    .hambarger span::before{top: auto;bottom: 5px;}

    .hambarger.active span{width: 16.5px;}
    .hambarger.active span::after,
    .hambarger.active span::before{opacity: 0;}

    header.fixed { background-color: rgba(255, 255, 255, 1); backdrop-filter: blur(0px); }
    header.fixed .hambarger{border-color: #F4F4F4;}
    header.fixed .hambarger span,
    header.fixed .hambarger span::after,
    header.fixed .hambarger span::before{background-color: #2059CE;}

    header .inner { display: block; position: fixed; top: 0; left: 0; width: 100%; height:100vh; background-color: #0E1931; z-index: 9;overflow: auto;transform: translateY(-100%);transition: 0.5s ease all;}
    header .inner.open {transform: translateY(0);}
    
    .dropmenu_image_link ,
    .dropmenu_gallery_link{ width: 100%; background-color: transparent; position: relative; top: 0; opacity: 1 !important; pointer-events: all !important; transition: none; padding: 0; padding-left: 24px; border-left: 1px solid #8B8F96;display: none;}
    .dropmenu_image_link ul li a{border: none;}
    .dropmenu_image_link .img{display: none;}

    .dropmenu_gallery_link li { height: auto; width: 100%; }
    .dropmenu_gallery_link li a .img::after{display: none;}
    .dropmenu_gallery_link li a .img{display: none;}
    .dropmenu_gallery_link li a{height: auto;line-height: 32px;padding: 8px 0;}
    .dropmenu_gallery_link li a span{position: relative;text-align: left;font-size: 16px;background-color: transparent;}


    header .inner>ul { display: block; width: 100%; padding: 0px 24px; }
    header .inner>ul>li>a { line-height: 48px; min-width: 100%;color: #fff !important; font-size: 18px;text-align: left; font-family: var(--HelveticaNowVar) !important;border-bottom: 1px solid #0E2961;padding: 8px;}
    header .inner>ul>li>a::after,
    header .inner>ul>li>a::before{display: none !important;}
    header .inner>ul>li { margin-right: 0 !important; margin-bottom: 8px !important; position: relative;}
    header .inner>ul:last-child>li:last-child a{background-color: #fff; color: #0E2961 !important; text-align: center; padding: 0; border: none; }
    header .inner>ul>li .arrow{position: absolute;height: 48px;width: 48px;background-image: url(../images/menu_arrow.png);background-repeat: no-repeat;background-position: center;right: 0;top: 6px;transition: 0.5s ease all;}
    header .inner>ul>li .arrow{position: absolute;height: 48px;width: 48px;background-image: url(../images/menu_arrow.png);background-repeat: no-repeat;background-position: center;right: 0;top: 6px;transition: 0.5s ease all;}
    header .inner>ul>li.active .arrow{transform: rotate(-90deg);}
    header .inner>ul>li.active>a{border-color: transparent;}
    header .inner .mobile_logo{display:block;margin: 0 auto;margin-top: 16px;margin-bottom: 31px;}
    
    
    h1,.h1 { font-size: 60px; }
    header.fixed { height: 56px; }
    .banner_image{display: none !important;}
    .banner .tab_contants li h1 { position: absolute; top: 146px; left: 0; right: 0; margin: auto; width: fit-content; font-family: var(--sangBleu-kingdom);  }
    .banner .tab_contants li:first-child,
    .banner .tab_link ul li:first-child{display:block;}
    .banner .tab_link { padding: 0; }
    .banner .tab_link ul{position: relative;height: 64px;}
    .banner .tab_link ul li{position: absolute;left: 0;top: 0;width:100%;height: 64px;text-align: center;line-height: 64px;opacity: 0;pointer-events: none;padding: 0 48px;font-size: 18px;}
    .banner .tab_link ul li br{display: none;}
    .banner .tab_link ul li.active{opacity: 1;pointer-events: all;}
    .banner .tab_link ul li.active::after{display: none;}
    .banner .next_prev{z-index: 3;position: absolute;bottom:8px;width: 100%;height: 48px;pointer-events: none;display: flex;}
    .banner .next_prev span{width: 48px;height: 48px;display: flex;justify-content: center;align-items: center;cursor: pointer;transition: 0.4s ease all;pointer-events: all;}
    .banner .next_prev span img{transform: scale(1);transform-origin: center;transition: 0.4s ease all;filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(233deg) brightness(100%) contrast(102%);}
    .banner .next_prev span.prev img{transform: scale(-1);}
    .banner .next_prev span:hover img{    transform: translateX(5px);}
    .banner .next_prev span.prev:hover img{transform: translateX(-5px) scale(-1);}
    .banner .next_prev span:hover{background-color: rgba(14, 41, 97, 1);}
    .fields_of_invesment h2 { font-size: 34px; }
    .the_numbers .left_col { width: 100%; }
    .the_numbers .right_col { width: 350px; margin-top: 20px; }
    .elco_blogs h2 { font-size: 30px; margin-bottom: 20px; }


    /* portfolio page */
    .foundation_futures { padding: 70px 0px 70px; }
    .foundation_futures h2 { font-size: 32px; line-height: 44px; margin-bottom: 70px; }
    .foundation_futures .inner { display: flex ; gap: 8px; flex-wrap: wrap; }
    .foundation_futures .inner .col{width:calc(33.33% - 6px);}
    .foundation_futures .inner .col5 { height: 240px; }
    .portfolio_sec .colin { padding: 56px 0 56px 30px; }
    .portfolio_sec .col { padding: 20px; max-width: 490px; }
    .portfolio_sec .text { right: 30px; }
    .portfolio_sec .wrap { margin-bottom: 30px; }

    /* portfolio details page  */
    .details_banner { height: 80vh; }
    .core_benefits .col { width: 50%; padding-right: 16px; margin-bottom: 15px;}
    .key_activities .col { width: calc(50% - 5.3px); }
    .leadership .col { width: calc(50% - 8px); height:400px; margin-bottom: 20px; margin-right: 16px; }
    .leadership .col:nth-child(3n) { margin-right: 16px; }
    .leadership .col:nth-child(2n) { margin-right: 0; }
    .popup .inner { width: calc(100% - 40px); height: 420px; }
    .notable_projects .colin { width: 700px; height: 420px; }

    /* about page */
    .legacy_leadership .left_col { width: 100%; padding-right: 0; }
    .legacy_leadership .right_col { width: 100%; margin-top: 25px; }
    .legacy_man .left_col { width: 100%; }
    .legacy_man .left_col img{ width: 100%; }
    .legacy_man .right_col{width: 100%;}
    .worldwide .col { width: 50%;margin-bottom: 20px;}
    .brand_text_slider .col { text-align: center; }
    .brand_text_slider .col .quata { margin: 0 auto; margin-bottom: 25px; }
    .brand_text_slider .col .logo{margin: 0 auto;}
    #our_dots{display: none;}
    .leadership_about.leadership .col { width: calc(50% - 18px); height: 600px; }
    #our_approach_slider .colin { height: auto; margin-bottom: 16px;}
    #our_approach_slider .bg { position: relative; padding: 20px 0 184px;display: none; }
    #our_approach_slider .bg img { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
    #our_approach_slider .colin h3{cursor: pointer;color: #0E2961;font-size: 18px;line-height: 24px;letter-spacing: -0.16px;font-weight: 500;padding:8px 16px 8px 24px;position: relative;width: 100%;display: block;margin-bottom: 16px;}
    #our_approach_slider .colin h3::after { content: ''; position: absolute; left: 0; top: 0; width: 1px; background-color: #0E2961; height: 100%; transition: 0.3s ease all; }
    #our_approach_slider .colin h3.active::after {width: 4px;background-color: var(--blue);}
    #our_approach_slider .colin h3.active{color: var(--blue);}
    #our_approach_slider .col { padding: 24px; width: calc(100% - 32px); left: 16px; position: relative; top: 0; opacity: 0;transition: 0.4s ease all;}
    #our_approach_slider .col h4 { font-size: 24px; line-height: 32px; margin-bottom: 8px; }
    #our_approach_slider .colin h3 span{position: absolute;height:2px;width: 16px;background-color:#0E2961;top:0;bottom: 0;margin: auto;display: block;right: 0;transition: 0.4s ease all;}
    #our_approach_slider .colin h3 span:last-child{transform: rotate(90deg);}
    #our_approach_slider .colin h3.active span:last-child{transform: rotate(0);}
    #our_approach_slider h3.active+.bg .col {opacity: 1;}

     /* investors */
     .letter_shareholders .inner { padding: 60px 40px; }
     .letter_shareholders .inner>div { width: 100%; }
     .graph_blog .wrap .col{}
     .graph_blog h4 { font-size: 16px; line-height: 24px; }
    .graph_blog h5 { font-size: 50px; line-height: 56px; }
    .graph_blog .img { height: 220px; margin-top: 13px; }

    .holding_overview .col { width: calc(50% - 4px); }    
    .holding_overview .col:nth-child(3n) { margin-right: 8px; }
    .holding_overview .col:nth-child(2n) { margin-right: 0; }
    .elco_graph_sec { padding: 0 0 40px; }
    .financial_reports { padding: 40px 0; }
    .financial_reports .tab_contants .col { width: calc(33.33% - 12px); height: 200px; }
    .financial_reports .tab_contants .col:nth-child(4n) { margin-right: 16px; }
    .financial_reports .tab_contants .col:nth-child(3n) { margin-right: 0; }
    .core_benefits_investors.core_benefits .col { width: 33.33%; padding-right: 16px;margin-bottom: 25px; }
    .elco_blogs_investors>h4 { margin-bottom:40px; }

    /* blog */
    .blog-top-section h1{font-size: 24px; line-height: 32px; padding: 0 0 24px 0; }
    .blog-top-section{padding: 104px 0 0 0;}
    .blog-top-part .text h2{font-size: 24px; line-height: 32px; padding: 0 0 16px 0;}
    .blog-top-part .text{padding: 16px 24px; position: static; max-width: 100%; background-color: #e8e8e9; }
    .blog-top-part .text p{display: none;}
    .blog-list{padding: 48px 0 128px 0;}
    .blog-list ul li{flex: 0 0 50%; max-width: 50%; }
    .blog-top-part .image{height: 352px;}
    .blog-details-section{padding: 48px 0 176px 0;}
    .blog-details-top .blog-top-part .text{background-color: #ffffff;}
    .blog-details-top{padding: 56px 0 0 0;}
    .terms-part{padding: 24px;}
    .terms-part h2{padding: 0 0 20px 0;}
    .terms-part p{line-height: 24px; padding: 0 0 20px 0; }
    .terms-part ul li{line-height: 24px;}
    .terms-part ul li::before{top: 12px;}
    .terms-part ul{padding: 0 0 20px 3px;}
    .terms-section{padding: 104px 0 136px 0;}
    .terms-section h1{padding: 0 0 16px 0;}


}
.banner .tab_contants li .bg{display: none;}
.letter_shareholders .img img.mob{display: none;}
@media only screen and (max-width:767px){
    h1, .h1 { font-size: 32px; }
    h2, .h2 { font-size: 24px; line-height: 32px; }
    h3, .h3 { font-size: 20px; line-height:24px; }
    p { line-height:24px;}
    a { font-size: 14px; line-height: 30px; }
    .wrapper { padding: 0px 16px; }
    
    .banner { min-height: 100vh; }
    .banner .tab_contants li h1 { top: 152px; }
    .banner .tab_contants li .col { top: 116px; left: 20px; max-width: calc(100% - 40px); padding: 24px 32px;}
    .banner .tab_contants li h2 { margin-bottom: 8px; font-size: 24px; line-height: 32px; }
    .banner .tab_contants li p{font-family: var(--HelveticaNowVar);margin-bottom: 24px;line-height: 20px;font-size: 14px;}
    .banner .tab_contants li .bg{display:block;}
    .banner .tab_contants li>img{display: none;}

    .we_are_elco { padding: 16px 0 88px; }
    .we_are_elco h2{margin-bottom: 24px;font-size: 32px; line-height: 47px; }
    
    .we_are_elco .right_col{ width: 100%;order: 1;}
    .we_are_elco .left_col { width: 100%;order: 2;padding-top: 34px;}
    .we_are_elco p{font-family: var(--HelveticaNowVar);margin-bottom: 20px;}
    .we_are_elco .btn_blue { margin-top: 12px; }
    .fields_of_invesment h2 { font-size: 24px; line-height: 40px; max-width: 250px; margin: 0 auto 160px; }
    .fields_of_invesment { min-height: 150px; padding-top: 56px; }
    .fields_of_invesment h3 { font-size: 16px; line-height: 40px; margin-bottom: 10px; }
    .fields_of_invesment h3::after, .fields_of_invesment h3::before { width: 50px; }
    .fields_of_invesment .next_prev { padding: 16px 8px; }
    .fields_of_invesment .next_prev .btn_blue{display: block;}
    .invesment_slider .col { padding: 30px 8px 20px; width: 312px; height: 198px;}
    .invesment_slider .col .traded{max-width: 100%;}
    .invesment_slider .col .public { font-size: 14px; font-family: var(--HelveticaNowVar); }
    .invesment_slider .col .img { margin-bottom: 32px; min-height: 50px; }
    .invesment_slider .col .link{bottom: 8px;}
    .invesment_slider .col .link img { transform: translateX(0); }
    .partnership_blobal_brand h2 { line-height: 32px; }
    .partnership_blobal_brand .inner { margin-top: 40px; }
    .partnership_blobal_brand { padding: 40px 0 80px; }
    .partnership_blobal_brand .col{min-height: 44px;margin: 0 20px;}
    /* .partnership_blobal_brand .owl-carousel .owl-stage { display: block ; } */
    .partnership_blobal_brand .col img { max-height: 44px; }
    .partnership_blobal_brand .inner::after, .partnership_blobal_brand .inner::before{width: 80px !important;}

    .the_numbers { padding: 0; }
    .the_numbers .wrapper { padding: 40px 0 0; }
    .the_numbers .left_col {padding: 0 24px;}
    .the_numbers .left_col h2 { margin-bottom: 23px; font-size: 24px; line-height: 32px;text-align: center; }
    .the_numbers .left_col .col { width: 100%; padding: 0 8px; margin-bottom: 24px;display: flex;align-items: flex-end;}
    .the_numbers .left_col h3 { line-height: 32px; font-size: 36px;display: flex ; align-items: baseline;margin-right: 5px;}
    .the_numbers .left_col h3 em{margin-left: 5px;}
    .the_numbers .left_col h4{margin-bottom: -6px;}
    .the_numbers .left_col h4 br{display: none;}
    .the_numbers .left_col .wrap {margin-bottom: 8px;}
    .the_numbers .right_col { width: 100%; margin-top: 32px; background-color:#060E1E; backdrop-filter: blur(0px); padding: 24px 8px 40px 24px;}
    .the_numbers .right_col h3 { line-height: 48px; font-size: 32px; }
    .the_numbers .right_col .col { margin-bottom: 0; }
    .the_numbers .right_col .as_time{margin-top: 16px;margin-bottom: 8px;}
    .elco_blogs { padding: 0; }
    .elco_blogs .wrapper{padding: 24px;padding-bottom: 0px;}
    .elco_blogs .col{flex-direction: column-reverse !important;margin-bottom: 88px;}
    .elco_blogs .col .text_col { padding: 0 !important; width: 100%; }
    .elco_blogs .img{width: 100%;margin-bottom: 24px;}
    .elco_blogs h2 { font-size: 24px; margin-bottom: 24px; line-height: 32px; }
    .excellence {        padding: 0px; background-color: #0e182f;}
    .excellence .bg{background-image: url(../images/excellence_mob_bg.png) !important;}
    .excellence .bg::after{display: none;}
    .excellence .wrapper { padding: 392px 24px 40px; }
    .excellence p { font-size: 14px; line-height: 20px; margin: 24px 0; }
    .excellence img { max-width: 180px; margin: 0 auto; }
    .recent_news { padding: 40px 0px 32px; }
    .recent_news h2 { text-align: center; }
    .recent_news .col { padding: 8px; }
    .recent_news .col .img, .recent_news .col .text { width: 100%; }
    .recent_news .col .text { padding-left: 0; }
    .recent_news h3 { font-size: 22px; line-height: 1.3; padding: 16px 0 32px 8px; }
    .recent_news h4 { font-size: 16px; padding: 8px 8px 0px; }
    footer { padding-top:40px; border-color: #8B8F96; }
    footer .logo img { max-width: 120px; }
    footer .wrapper{padding: 0 24.5px;}
    footer ul.link{ margin-top: 36px;justify-content: space-between !important;}
    footer ul.link li{width:calc(50% - 12px);text-align: left;}
    footer ul.link li a{font-size: 14px; padding: 9px 0; line-height: 22px; display: block;}
    footer .address { margin: 48px 0 0;padding: 24px 0;border-top: 1px solid #8B8F96;border-bottom: 1px solid #8B8F96;}
    footer .address a, footer .address em, footer .address p { font-size: 14px; line-height: 24px; }
    footer .address a { display: block; width: 100%; max-width: 280px; }
    footer .address a+em{display: none;}
    footer .address li:first-child{ margin-right: 0px;width: 100%;margin-bottom: 14px; }
    footer .address li:first-child::after{display: none;}
    footer .address li:not(:last-child)::after { right: -9px; top: -8px; }

    footer .bottom_footer{padding: 8px 0;}
    footer .bottom_footer .left_col{max-width: 250px;margin: 0 auto;}
    footer .bottom_footer .left_col p{width: 100%;margin-bottom: 8px;}
    footer .bottom_footer .left_col *:not(p){line-height: 24px !important;}
    footer .bottom_footer .left_col p+em,footer .bottom_footer .left_col p+em+a+em+a+em{display: none;}
    footer .bottom_footer .left_col { max-width: 270px; justify-content: center; margin-bottom: 8px;}
    footer .bottom_footer .wrapper>p{width: 100%;}
    footer .michal{display: block;text-align: center;padding:33px 0px 57px;margin-bottom: 0;}
    footer .michal h4,footer .michal p,footer .michal p a{font-size: 14px;line-height: 24px;color: var(--ebony);}
    footer .michal li:first-child{font-weight: 600;}
    footer .michal li:not(:last-child) { margin-right: 0; }
    footer .michal li:not(:last-child)::after{display: none;}
    footer .bottom_footer .right_col { width: 100%; justify-content: center; }
    footer .bottom_footer ul.left_col li:first-child{width: 100%;}
    footer .bottom_footer ul.left_col li:first-child,
    footer .bottom_footer ul.left_col li:nth-child(3){margin-right: 0;}
    footer .bottom_footer ul.left_col li:first-child::after,
    footer .bottom_footer ul.left_col li:nth-child(3)::after{display: none;}
    footer .bottom_footer ul.left_col li:last-child{width: 100%;margin-top: 4px;}
    footer .bottom_footer ul.left_col li:not(:last-child)::after { top: -7px; }

    
    /* portfolio page */
    .inner_banner { height: 100vh; }
    .inner_banner .col { width: 100%; max-width: calc(100% - 40px);padding: 16px 24px;}
    .inner_banner .col h1 { font-size: 24px; line-height: 32px;margin-bottom: 8px;}
    .inner_banner .col p { font-size: 14px; line-height: 20px; }
    .foundation_futures { padding: 60px 24px 56px; }
    .foundation_futures { padding: 60px 24px 56px; }
    .foundation_futures .wrapper{padding: 0px;}
    .foundation_futures h2 { font-size: 24px; line-height: 32px; margin-bottom: 35px; }
    .foundation_futures .inner { gap: 0; }
    .foundation_futures .inner .col { width: 100%; margin-bottom: 8px;height: 64px;}
    .foundation_futures .inner .col:last-child{margin-bottom: 0;}
    .foundation_futures .inner .col span { top: 16px; padding: 0 16px; font-size: 16px; }
    .foundation_futures .inner .col:hover span { padding:0 20px; }
    .foundation_futures .bg{display: none;}
    .portfolio_sec { padding: 8px 0 100px; }
    .portfolio_sec .wrapper { padding: 0px 24px;}
    .portfolio_sec h2 { padding: 16px 0; }
    .portfolio_sec .wrap {padding: 0px; }
    .portfolio_sec .colin { padding: 0; }
    .portfolio_sec .bg{position: relative;height: 168px;margin-bottom: 48px;}
    .portfolio_sec .col { padding: 16px 32px; max-width: 100%; background-color: #0E2961; backdrop-filter: blur(0px); }
    .portfolio_sec .text { right: 0; width: 100%; height: 48px; bottom: -48px; top: auto;padding: 8px;display: flex;justify-content: space-between;align-items: center; background: linear-gradient(-10deg, #1D4FB7 0%, #0E2961 220%); }
    .portfolio_sec .text>img { top: 16px; left: auto; right: -10px; width: 60px; transform: rotate(90deg); }
    .portfolio_sec .text .public { font-size: 14px; line-height: 16px; padding: 0 0 0 8px; }
    .portfolio_sec .text .traded { padding: 0 8px 0 0; position: relative;z-index: 1;}
    .portfolio_sec .text .traded span { line-height: 32px; }
    .portfolio_sec .text .traded { padding: 0 8px 0 0; display: flex ; align-items: baseline; margin-top: 5px; }
    .portfolio_sec .text .traded h6{margin-left: 5px;}
    .portfolio_sec .col img { max-height: 49px; margin-bottom: 16px; }
    .portfolio_sec .col p { margin-bottom: 16px; font-size: 14px; }
    .portfolio_sec .wrap { margin-bottom: 24px; }

    /* portfolio details page  */
    .details_banner { height: 100vh; }
    .details_banner .col { top: 170px; left: 20px; width: calc(100% - 40px); }
    .details_banner .col { top: 195px; left: 20px; width: calc(100% - 40px); padding: 24px 16px; }
    .details_banner .col h1 { font-size: 24px; line-height: 32px; margin-bottom: 16px; text-align: center; }
    .details_banner .col>img { margin-bottom: 40px; max-height: 42px; margin: 0 auto; margin-bottom: 16px; }
    .details_banner .col p { font-size: 14px; line-height: 20px; text-align: center; }
    .performance_metrics h2 { font-size: 24px; line-height: 32px; margin-bottom: 24px;text-align: center;}
    .performance_metrics .wrapper { padding: 48px 24px 267px; }
    .performance_metrics .col { width: 100%; margin-bottom: 0px; }
    .performance_metrics h3 { line-height: 40px; font-size: 44px; }
    .performance_metrics h3 em, .performance_metrics h3 strong { margin: 0px 5px; }
    .performance_metrics p { line-height: 20px; font-size: 14px; }

    .elco_blogs .col { margin-bottom: 72px; }
    .core_benefits { padding: 48px 24px 24px; }
    .core_benefits .wrapper{padding: 0px;}
    .core_benefits h2 { font-size: 24px; line-height: 32px; margin-bottom: 24px; }
    .core_benefits .col { width: 100%; padding-right: 0; margin-bottom: 24px; display: flex ; flex-wrap: wrap; align-items: center; }
    .core_benefits .col h3 { font-size: 18px; line-height: 24px; margin-bottom: 0;width: calc(100% - 56px);padding-left: 8px;}
    .core_benefits .col img { margin-bottom: 0; }
    .core_benefits .col p {line-height: 24px; margin-top: 8px; }
    .key_activities { padding: 56px 24px; }
    .key_activities h2 { font-size: 24px; line-height: 32px; margin-bottom: 48px; }
    .key_activities .inner { gap: 0; }
    .key_activities .col { width: 100%;    height: 376px;margin-bottom: 24px;}
    
    .key_activities .wrapper{padding: 0px;}
    .key_activities .text { padding: 16px 48px 48px 24px; transform: translateY(0px);}
    .key_activities .text span img { transform: rotate(0deg); }
    .key_activities .text p { line-height: 24px; }
    .leadership { padding: 48px 24px; }
    .leadership .wrapper { padding:0; }
    .leadership h2 { font-size: 24px; line-height: 32px; margin-bottom: 48px; }
    .leadership .col { width: 100%; height: 396px; margin-bottom: 20px; margin-right: 0; }
    .leadership .text p { font-size: 18px; line-height: 32px; min-height:32px; }
    .leadership .col:nth-child(3n) { margin-right: 0px; }
    .leadership .text h3 { font-weight:bold; font-size: 24px; line-height: 32px; width: calc(100% - 24px); }
    .popup .inner { height: fit-content; flex-direction: column-reverse; }
    .popup .inner>div { width: 100%;  }
    .popup .inner>div.right_col {height: 248px;}
    .popup .inner>div.left_col { height: 54vh; padding: 24px 24px 48px; }
    .popup .close { width: 32px; height: 32px; z-index: 2; }
    .popup .close img{width: 8px;}
    .popup .owl-nav button { width: 32px; height: 32px; }
    .popup .owl-nav button img{width: 15px;}
    .leadership_popup h2 { font-size: 18px; line-height: 24px;width: calc(100% - 24px); }
    .notable_projects { padding: 64px 0 56px; }
    .notable_projects .wrapper { max-width: calc(100% - 24px); margin-left: 24px; padding: 0; }
    .notable_projects .owl-nav button { width: 32px; height: 32px; }
    .notable_projects .owl-nav button img{width: 15px;}
    .notable_projects .colin { width: 312px; height: auto; }
    .notable_projects .colin img{height:232px;}
    .notable_projects .colin .col{height: 337px;width: 100%;max-width: 100%;position: relative;top: 0;left: 0;background-color: var(--ebony);}
    .notable_projects .owl-nav .owl-prev { margin-left: 8px; }
    .notable_projects .owl-nav .owl-next { margin-right: 32px;}
    .notable_projects .owl-nav { top: 108px; }
    .notable_projects h3 { margin-bottom: 33px; font-size: 18px; line-height: 24px; }
    .notable_projects h3::after { bottom: -15px; width: 100%; }
    .notable_projects h2 { font-size: 24px; line-height: 32px; margin-bottom: 32px; }
    .key_activities_four.key_activities .col { height: 376px; width: 100%; }


    /* about page */
    .inner_banner.about_banner .col { padding: 24px; text-align: center;}
    .inner_banner.about_banner .col h1 { font-size: 24px; line-height: 32px; margin-bottom: 16px; }
    .inner_banner.about_banner .col p { font-size: 14px; line-height: 20px; }
    .legacy_leadership h2 { font-size: 32px; line-height: 32px; margin-bottom: 48px; }
    .legacy_leadership { padding: 48px 0 72px; }
    .legacy_leadership .inner { padding: 24px 24px 0; }
    .legacy_leadership .left_col p:not(:last-child) { margin-bottom: 24px; }
    .legacy_leadership .right_col { width: calc(100% + 48px); margin-top: 25px; margin-left: -24px; min-width: calc(100% + 48px);height: 206px;}
    .legacy_leadership .elco_legacy { bottom: 8px; left: 8px; }
    .legacy_man { padding: 16px 0; }
    .legacy_man .right_col { padding: 40px 24px 48px; }
    .legacy_man .right_col p:last-child{font-size: 12px;}
    .worldwide { padding:40px 40px 72px; }
    .worldwide .wrapper{padding: 0;}
    .worldwide h2 { line-height: 32px; margin-bottom: 56px; font-size: 24px; }
    .worldwide .col { width: 100%; margin-bottom: 8px; }
    .worldwide .col ul li { font-size: 14px; line-height: 32px; margin-bottom: 0; }
    .worldwide .col h3{margin-bottom: 8px;line-height: 38px;}
    .brand_text_slider { padding: 39px 0px 64px; }
    .brand_text_slider .col{padding: 0px 40px;}
    .brand_text_slider .owl-nav button { width: 32px; height: 32px; }
    .brand_text_slider .owl-nav button img{width: 15px;}
    .brand_text_slider .owl-nav button.owl-prev { margin-left:0; }
    .brand_text_slider .owl-nav button.owl-next{margin-right: 0;}
    .our_approach .wrapper{padding: 0 24px;}
    .leadership_about.leadership { padding: 48px 24px 100px; }
    .leadership_about.leadership .inner { padding: 0; }
    .leadership_about.leadership .col { width: 100%; height: 444px; margin-right: 0 !important; }

    /* investor page */
    .inner_banner.investors_banner .col { padding: 24px 16px; }
    .inner_banner.investors_banner .col h4 { font-size: 16px; line-height: 32px; margin-bottom: 16px; text-align: center; }
    .inner_banner.investors_banner .col h1 { font-size: 24px; line-height: 32px; margin-bottom: 16px; text-align: center; }
    .inner_banner.investors_banner .col p { font-size: 14px; line-height: 20px; text-align: center; }
    .letter_shareholders h2 { font-size: 24px; line-height: 32px; margin-bottom: 16px; max-width: 200px; }
    .letter_shareholders { padding: 48px 0 24px; }
    .letter_shareholders .inner { padding: 24px; }
    .letter_shareholders h3, .letter_shareholders p, .letter_shareholders ul li { font-size: 16px; line-height: 24px; }
    .letter_shareholders ul li strong{font-weight: 400;}
    .letter_shareholders p>strong { color: var(--ebony); }
    .letter_shareholders p{margin-bottom: 20px;}
    .letter_shareholders .img img{display: none;}
    .letter_shareholders .img img.mob{display: block;}
    .the_numbers_investors { padding: 40px 24px; }
    .the_numbers_investors .wrapper{ padding:0; }
    .the_numbers_investors h2 { margin-bottom: 39px; }
    .the_numbers_investors .wrap .col { width: 100%; padding: 8px; margin-bottom: 29px;    display: flex ; align-items: flex-end;}
    .the_numbers_investors .wrap h3 { line-height: 40px; font-size: 36px;         display: flex ; align-items: flex-end; }
    .the_numbers_investors .wrap h4 { font-size: 16px; }
    .the_numbers_investors .wrap h4 { margin-bottom: -6px;padding-left: 8px; }
    .the_numbers_investors .wrap h3 em{margin-left: 5px;        white-space: nowrap; }

    .elco_graph_sec .wrapper { max-width: 100%; margin-top: 0;padding: 0px;}
    .graph_blog { padding: 56px 32px 30px; margin-bottom: 0px;border: none; }
    .graph_blog h2 { font-size: 24px; line-height: 32px; margin-bottom: 32px; }
    .graph_blog h3 { font-size: 20px; line-height: 24px; line-height: 24px; margin-bottom: 56px; }
    .graph_blog .wrap .col { width: 100%; padding-bottom: 16px;border-bottom: 1px solid #D9D9D9;margin-bottom: 32px;}
    .graph_blog .wrap .col:last-child{margin-bottom: 0;border: none;padding-bottom: 0;}
    .graph_blog .img { height:auto; margin-top: 13px; }
    .graph_blog h4{margin-bottom: 11px;font-weight: 500;}
    .graph_blog h4 br{display: none;}
    .graph_blog h5 em { margin: 0px 13px; }
    .holding_overview { padding: 24px 0 48px; }
    .holding_overview .inner{padding: 0px 24px;}
    .holding_overview .col { padding: 30px 8px 20px; width: 100%; height: auto;margin-right: 0 !important;}
    .holding_overview .col .traded{max-width: 100%;}
    .holding_overview .col .public { font-size: 14px; font-family: var(--HelveticaNowVar); padding-left: 16px;}
    .holding_overview .col .img { margin-bottom: 32px; min-height: 50px; padding-left: 16px;}
    .holding_overview .col .link{bottom: 8px;   right: 8px;}
    .holding_overview .col .link img { transform: translateX(0); filter: brightness(0) saturate(100%) invert(7%) sepia(35%) saturate(2315%) hue-rotate(196deg) brightness(95%) contrast(95%);}
    .holding_overview .col:hover .link img {filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(9deg) brightness(102%) contrast(101%);}
    .holding_overview .col .traded{padding-left: 16px;}
    .financial_reports { padding: 24px 32px 32px; }
    .financial_reports .wrapper { padding:0; }
    .financial_reports .tab_link li { min-width: 50%; width: 50%; padding: 8px 8px 8px 24px; line-height: 24px; }
    .financial_reports .tab_contants .col { width: 100%; height: auto;background-color: #F4F4F4; margin-right: 0 !important;        padding: 16px;}
    .financial_reports .tab_contants .col h3 { font-size: 28px; line-height: 24px; margin-bottom: 14px; }
    .financial_reports .tab_contants .col .link { bottom: auto; top: 8px; }
    .financial_reports .tab_contants .col .link img { transform: translateX(0);filter: brightness(0) saturate(100%) invert(24%) sepia(97%) saturate(2113%) hue-rotate(213deg) brightness(87%) contrast(85%); }
    .financial_reports .tab_contants .col:hover .link img {filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(177deg) brightness(104%) contrast(100%);}
    .financial_reports .tab_contants .col:last-child{margin-bottom: 0px;}
    .core_benefits_investors.core_benefits { padding: 48px 24px 64px; }
    .core_benefits_investors.core_benefits .bg{background-image: url(../images/core_benefits_investors_bg_mob.jpg) !important;}
    .core_benefits_investors.core_benefits .col { width: 100%; padding-right: 0; margin-bottom: 24px; display: flex ; flex-wrap: wrap; align-items: center; }
    .core_benefits_investors.core_benefits .col h3 { font-size: 18px; line-height: 24px; margin-bottom: 0;width: calc(100% - 56px);padding-left: 8px;}
    .core_benefits_investors.core_benefits .col img { margin-bottom: 0; }
    .core_benefits_investors.core_benefits .col p {line-height: 24px; margin-top: 8px; max-width: 100%;}
    .core_benefits_investors.core_benefits .col:last-child{margin-bottom: 0;}
    .elco_blogs_investors.elco_blogs{padding: 0 0 46px;}
    .elco_blogs_investors>h4{display: none;}
    .elco_blogs_investors.elco_blogs .col { margin-bottom: 88px; }
    .financial_reports h2 { font-size: 24px; line-height: 32px; margin-bottom: 31px; }
    
    /* blog */
    .blog-list ul li{flex: 0 0 100%; max-width: 100%; }
    .blog-list ul li .box .blog-info .view-link{display: none;}
    .blog-details-bottom-part{flex-flow: column; align-items: flex-start; }
    .blog-details-bottom-part .btn + .btn{margin-top: 24px; }
    .blog-details-section video{height: 175px;}
    .blog-details-section figure{line-height: 24px;}
    .blog-details-bottom-part .btn.btn-bg-blue { padding: 8px 8px; }

    /* contact page */
    .contact_page .bg{height: 100vh;position: relative;}
    .contact_page .wrapper { padding:0; position: initial; }
    .contact_page .top_contact { padding: 24px 16px; margin-bottom: 8px; position: absolute; top: 36vh; bottom: auto; height: fit-content; margin: auto; width: calc(100% - 40px); left: 0; right: 0; background-color: rgba(14, 41, 97, 0.5); backdrop-filter: blur(10px);text-align: center;}
    .contact_page .top_contact h1 { font-size: 24px; line-height: 32px; }
    .contact_page .top_contact p { font-size: 14px; }
    .contact_page .bottom_contact .sub{width: 100%;border-radius: 4px;}
    .contact_page .thankyou_col { padding: 20px 0; }



    


}


